/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
  background-color: #285B7F;
 }

header {
  min-width: 100%;
  float: left;
  background-color: #eeeeee;
  height: 60px;
  position: fixed;
}

.menu-item {
  display: inline-block;
  padding: 0px 20px;
}

.login {
  text-align: center;
  float: right;
  padding: 10px 20px;
}

.main-container{
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.school-label {
  font-family: helvetica;
  padding: 10px 0px;
  font-size: 18px;
}

.centered-container{
  display: inline-block;
  margin: 0px auto;
  width: 100%;
  text-align: center;
}

.schools-container {
  background-color: #eeeeee;
  display: inline-block;
  width: 50%;
  margin: 100px auto;
  border-radius: 10px;
  text-align: center;
  font-family: helvetica;
  padding: 20px 0px;
}

.school-bar {
  background-color: #50B6FF;
 /* margin: 0px auto;*/
  border-radius: 6px;
}

.bar-text {
  opacity: 0;
  color: #50B6FF;
  text-align: center;
  vertical-align: middle;
}

.bar-text:hover {
  opacity: 1;
  color: #eeeeee;
  vertical-align: middle;
}

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

button {
  width: 200px;
  background-color: #50B6FF;
  font-family: helvetica;
  font-size: 18px;
  color: #eeeeee;
  padding: 25px 25px;
  border-radius: 8px;
}
